body {
  background: #d12626
}

.container{
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  height: 408px;
  width: 816px
}

.player-score, .comp-score{
  color: rgb(158, 158, 158, 0.4);
  position: absolute;
  top: 12px;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif
}

.player-score{
  left: 45%
}
.comp-score{
  left:55%
}

#player-paddle, #comp-paddle{
  position: absolute;
  background: white;
  height: 50px;
  width: 6px;
}

.ball{
  background: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position:absolute
}